button {
  all: unset;
  font-weight: 500;
  cursor: pointer;

  /* Centraliza o texto DENTRO do botão */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* Arredondamento padrão para todos os botões */
  border-radius: .5rem;

  /* Estilo do Botão Vermelho (Primary) */
  &.btn-primary {
    color: white;
    background-color: #E43A12;

    /* Tamanho reduzido */
    padding: .5rem 1rem;
    font-size: 0.875rem;

    /* Garante o arredondamento (caso precise forçar) */
    border-radius: .5rem;

    &:hover,
    &:focus {
      background-color: #F3541C;
    }
  }

  /* Estilo do Botão Branco (Secondary) */
  &.btn-secondary {
    /* Borda Vermelha */
    border: 1px solid #E43A12;
    /* Texto Preto */
    color: #292524;

    padding: .75rem 1.5rem;
    /* Tamanho normal */

    &:hover,
    &:focus {
      /* Fundo vermelho bem clarinho ao passar o mouse */
      background-color: #fff0ec;
      outline: .25rem solid var(--surface-secondary);
    }
  }
}