/* droparea.css */
.dropzone {
    /* Borda tracejada com opacidade de 50% */
    border: 2px dashed rgba(214, 211, 209, 0.5); 
    border-radius: .5rem;

    display: grid;
    justify-items: center;
    gap: .5rem;
    text-align: center;
    padding: 1.75rem 1rem;
    position: relative;
}

.dropzone input {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

.dropzone p {
    color: var(--text-tertiary);
}

.dropzone:hover {
    border-color: var(--stroke-highlight);
    background-color: var(--surface-secondary);
}