input,
textarea,
select {
    appearance: none;
    width: 100%;
    border-radius: .5rem;
    border: 1px solid var(--stroke-default);
    padding: .75rem 1rem;
    font: var(--text);
    outline: none;
    min-height: 2.75rem;
}

label {
    font: var(--text-sm);
    color: var(--text-secondary);
    display: block;
    margin-bottom: .25rem;
}

input:focus,
select:focus,
textarea:focus {
    border: 2px solid var(--stroke-highlight);
    box-shadow: 0 0 0 4px var(--surface-secondary);
}

input[type="date"] {
    position: relative;
    padding-right: 3rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 1rem;
    cursor: pointer;
    background: url(../../assets/icons/calendar-03.svg) no-repeat center/contain;
    width: 1.25rem;
    height: 1.25rem;
    opacity: 1;
}

select {
    padding-right: 3rem;
    background: url(../../assets/icons/arrow-down-01.svg) no-repeat right 1rem center/1.25rem;
    cursor: pointer;
}

textarea {
    resize: vertical;
    min-height: 9rem;
}

input:disabled,
select:disabled,
textarea:disabled {
    border: 1px solid var(--stroke-default);
    background-color: var(--surface-default);
    color: var(--text-secondary);
    cursor: not-allowed;
}

