* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: 'Poppins', sans-serif;
    --text: 400 4.5rem var(--font-family);
    --text-sm: 400 0.875rem var(--font-family);

    --text-primary: #292524;
    --text-secondary: #57534E;
    --text-tertiary: #8F8881;
    --text-hightlight: #E43A12;

    --surface-primary: #FFFFFF;
    --surface-secondary: #FEE7D6;

    --stroke-default: #D6D3D1;
    --stroke-hightlight: #F5431C;
    --semantic-error: #DC2626;
    
}

body {
    overflow: hidden;
}