@import url(global.css);
@import url(layout.css);
@import url(forms.css);
@import url(fields/index.css);
@import url(fields/droparea.css);
@import url(radio.css);

input,
textarea,
select {
    appearance: none;
    width: 100%;
    border-radius: .5rem;
    border: 1px solid var(--stroke-default);
    padding: .75rem 1rem;
    font: var(--text);
    outline: none;
    min-height: 2.75rem;
}

label {
    font: var(--text-sm);
    color: var(--text-secondary);
    display: block;
    margin-bottom: .25rem;
}

input:focus,
select:focus,
textarea:focus {
    border: 2px solid var(--stroke-highlight);
    box-shadow: 0 0 0 4px var(--surface-secondary);
}

input[type="date"] {
    position: relative;
    padding-right: 3rem;
    height: 2.75rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 1rem;
    cursor: pointer;
    background: url(../assets/icons/calendar-03.svg) no-repeat center/contain;
    width: 1.25rem;
    height: 1.25rem;
    opacity: 1;
}

select {
    padding-right: 3rem;
    height: 2.75rem;
    background: url(../assets/icons/arrow-down-01.svg) no-repeat right 1rem center/1.25rem;
    cursor: pointer;
}

textarea {
    resize: vertical;
    min-height: 9rem;
}

input:disabled,
select:disabled,
textarea:disabled {
    border: 1px solid var(--stroke-default);
    background-color: var(--surface-default);
    color: var(--text-secondary);
    cursor: not-allowed;

    &:invalid {
        border: 0.125rem solid var(--semantic-error);
    }

    &+small {
        font: var(--text-sm);
        color: #78716C;

        display: inline-block;
        margin-top: .25rem;
    }

    &[required]+.error {
        display: flex;
        align-items: center;
        gap: .25rem;

        font: var(--text-sm);
        color: var(--semantic-error);

        margin-top: .25rem;
    }

    &:not(:focus):valid+.error {
        display: none;
    }
}

.error {
    display: flex;
    align-items: center;
    gap: .25rem;
    font: var(--text-sm);
    color: #DC2626;
    margin-top: .25rem;
}

.error img {
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
}

input:valid+.error {
    display: none;
}