#app {
    display: grid;
    grid-template-columns: 51.25% 48.75%;
    height: 100vh;
    overflow: hidden;
}

main {
    overflow-y: auto;
    padding: 4rem 2rem;
}

.main-container {
    max-width: 33rem;
    margin: 0 auto;
}

.back {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

h1 {
    font: 600 1.5rem/1.25 var(--font-family);
    margin-bottom: .5rem;
}

aside {
    background-color: var(--surface-secondary);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aside-container {
    max-width: 31rem;
    margin: 0 auto;
}

.aside-container h2 {
    font: 600 2.5rem/1.1 var(--font-family);
    margin: 2rem 0 1rem;
}

.aside-container h2 span {
    color: var(--text-highlight);
}

.checkbox-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: .75rem;
    cursor: pointer;
}

.checkbox-wrapper input[type="checkbox"] {
    all: unset;
    position: absolute;
    inset: 0;
    cursor: pointer;
    opacity: 0;
}

.checkbox-wrapper .checkbox-image {
    flex: 0 0 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../assets/icons/checkbox-default.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.checkbox-wrapper:hover .checkbox-image,
.checkbox-wrapper:focus-within .checkbox-image {
    background-image: url(../assets/icons/checkbox-hover.svg);
}

.checkbox-wrapper:has(input[type="checkbox"]:checked) .checkbox-image {
    background-image: url(../assets/icons/checkbox-checked.svg);
}

.checkbox-wrapper label {
    flex: 1;
    font: var(--text-sm);
    color: var(--text-secondary);
    cursor: pointer;
    line-height: 1.4;
}
